@model MyMoveisModels.Models.ViewModel.ProductVM
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.ProductId!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body pt-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.ProductId" hidden/>
            <input asp-for="Product.ImageUrl" hidden/>
            <div class="row">
                <div class="col-10">
                    <div class="border p-3 mt-4">
                        <div asp-validation-summary="All"></div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Title" class="p-0"></label>
                            <input asp-for="Product.Title" type="text" class="form-control"/>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Autor" class="p-0"></label>
                            <input asp-for="Product.Autor" type="text" class="form-control"/>
                            <span asp-validation-for="Product.Autor" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Description" class="p-0"></label>
                            <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.ISBN" class="p-0"></label>
                            <input asp-for="Product.ISBN" type="text" class="form-control"/>
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.ListPrice" class="p-0"></label>
                            <input asp-for="Product.ListPrice" type="text" class="form-control"/>
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Price" class="p-0"></label>
                            <input asp-for="Product.Price" type="text" class="form-control"/>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Price50" class="p-0"></label>
                            <input asp-for="Product.Price50" type="text" class="form-control"/>
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.Price100" class="p-0"></label>
                            <input asp-for="Product.Price100" type="text" class="form-control"/>
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row p-1">
                            <label asp-for="Product.CategoryId" class="p-0"></label>
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 row p-1">
                            <label asp-for="Product.ImageUrl" class="p-0"></label>
                            <input  name="file" type="file" class="form-control"/>
                        </div>
                    
                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.ProductId != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                    
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control" style="width:150px">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius: 5px ;border: 1px solid #bbb9b9"/>
                </div>
            </div>
 
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
